<div id="content">
  <div id="header">
    <div id="user_navigation">
			<%= render :partial => '/shared/user_navigation' %>
    </div>
		<div id="flash">
			<% flash.each do |name, msg| %>
			  <%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
			<% if flash[:notice] %>
			  <div style="line-height:2em; padding:10px;color:#fff"> <%= flash[:notice] %></div>
			<% end %>
		</div>
  </div>
  <div id="body">
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to image_tag("logos/mylugo.gif", :alt => "mylugo.de"), "http://mylugo.de", { :id => "mylugo_logo" } -%>
  </div>
</div>
