<% form_for [:admin, @user] do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label :status_id %><br />
      <%= f.text_field :status_id %>
    </p>
    <p>
      <%= f.label :is_admin %><br />
      <%= f.check_box :is_admin %>
    </p>
    <p><%= f.submit "Speichern" %></p>
		<p><%= link_to "Destroy", [:admin, @user], :confirm => 'Are you sure!', :method => :delete %></p>
<% end %>