<% content_for :javascript_code do %>
	<%= js_focus_on_element "user_session_login" %>
<% end %>
</script>
<% form_for @user_session do |u| %>
    <%= u.error_messages %>
    <p>
      <%= u.label :login %><br />
      <%= u.text_field :login %>
    </p>
    <p>
      <%= u.label :password %><br />
      <%= u.password_field :password %>
    </p>
    <p><%= u.submit "Anmelden" %></p>
<% end %>